$darkPcBeige: rgb(227, 225, 201);
$buttonBeige: rgb(238, 241, 219);
$buttonBorder: rgb(190, 195, 161);
$calcDisplay: rgb(155, 1, 1);
$calcDisplayText: rgb(255, 0, 0);
$textColor: rgb(72, 91, 99);

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    @include flexCenter();
    height: 100vh;
}

.calc-container {
    width: 420px;
    padding-top: 30px;
    border-radius: 6px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: $darkPcBeige;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .calc-display {
        @include flexCenter();
        height: 100px;
        width: 400px;
        background-color: $calcDisplay;
        margin-top: 1.5rem;
        font-family: 'Segment7Standard';
        font-size: 40px;
        color: $calcDisplayText;

        border: black solid 0.4rem;
        border-top: black solid 2.5rem;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .calc-inscription{
        background-color: $textColor;
        color: gold;
        width: 400px;
        font-family: 'Great Vibes', cursive;
        font-size: 24px;
        
         p{
            padding-left: 10px;
            padding-top: 5px;
         }
    }
    
    .button-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);

        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;

        // padding-top: 3rem;
        margin-bottom: 1.5rem;

        background-color: $textColor;
        width: 400px;

        .grid-button {
            &:hover{
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0, 0, 0, 0.345);
            }
            color: $textColor;
            height: 80px;
            width: 80px;
            background-color: $buttonBeige;
            justify-self: center;
            display: grid;
            place-items: center;
            margin: 8px;
            cursor: pointer;

            font-size: 2rem;
            font-weight: 400;

            border-radius: 12px;
            border: solid $buttonBorder;
            border-width: 0.3rem 0.4rem 0.4rem 0.4rem;
        }

        #gb-equals{
            background-color: orange;
            border-radius: 12px;
            border: solid rgb(203, 125, 29);
            border-width: 0.3rem 0.4rem 0.4rem 0.4rem;
        }

        .grid-button-blank{
            background-color: transparent;
            border-color: transparent;
            border-width: 0.3rem 0.4rem 0.4rem 0.4rem;
            opacity: 0;
            cursor: default;
        }

    }
}

