$darkPcBeige: rgb(227, 225, 201);
$buttonBeige: rgb(238, 241, 219);
$calcDisplay: rgb(155, 1, 1);
$calcDisplayText: rgb(255, 0, 0);
$textColor: rgb(72, 91, 99);

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    @include flexCenter();
    height: 100vh;
}

.calc-container {
    height: 650px;
    width: 500px;
    background-color: $darkPcBeige;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .calc-display {
        @include flexCenter();
        height: 100px;
        width: 400px;
        background-color: $calcDisplay;
        margin-top: 20px;
        font-family: 'Segment7Standard';
        font-size: 50px;
        color: $calcDisplayText;
    }
    
    .button-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);

        background-color: aquamarine;
        height: 450px;
        width: 400px;

        .grid-button {
            color: $textColor;
            position: relative;
            display: grid;
            width: 80px;
            place-items: center;
            margin: 8px;
            height: 80px;
            background: linear-gradient(180deg, $buttonBeige, $darkPcBeige);
            box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
              inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
              10px 20px 25px rgba(0, 0, 0, 0.4);
            user-select: none;
            cursor: pointer;
            font-weight: 400;
            border-radius: 10px;
        }

    }
}

